*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
    #Cuttie{
        background: linear-gradient(rgba(0,0,0,0.5),#272828), url(gallery/Cuttie.jpg);
        background-size: cover;
        background-position: center;
        Height: 100vh;
}
.Cuttie-text{
    text-align: center;
    color:white;
    padding-top: 180px;
}
.Cuttie-text h1{
font-size: 130px;
font-family: 'Kaushan Script', cursive;
}
.Cuttie-text p{
    font-size: 20px;
    font-style: italic;
}
.Cuttie-btn{
    margin: 70px auto 0;
}
.Cuttie-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: aliceblue;
    border: .5px solid black;
    position: relative;
    z-index: 1;
}
.Cuttie-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    z-index: -1;
}
/*--feature--*/
#feature{
    width: 100%;
    padding: 70px 0;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p{
    margin: auto;
    font-size: 20px;
    color: black;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(black,#fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.title-text h1{
    font-size: 50px;
}
.feature-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.features{
    flex-basis: 50%;
}
.features-img{
    flex-basis: 50%;
    margin: auto;
}
.features-img img{
    width: 70%;
    border-radius: 10px;
}
.features h1{
    text-align: center;
    margin-bottom: 10px;
    font-weight: 100;
    color:black;
}
.feature-desc{
    display:flex;
    align-items: center;
    margin-bottom: 40px;
}
.feature-text p{
    padding: 0 20px;
    text-align: left;
}
/*--services--*/
#service{
    width: 100%;
    padding: 70px 0;
    background: #efefef;
}
.service-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.single-service{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: white; 
    position: relative;
}
.single-service img{
    width: 55%;
    border-radius: 5px;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),#009688);
    opacity: 0;
    transition: 1;
}
.single-service:hover .overlay{
    opacity: 1;
}
 /*--footer--*/
#footer{
    padding: 100px 0 20px;
    background: white;
}
.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left,.footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}
.footer-right{
    text-align: right;
}
.footer-row h1{
margin: 10px 0;
}
.footer-row p{
    line-height: 35px;
}
